<!DOCTYPE html>
<html ng-app>

	<head>
		<meta charset="UTF-8">
				<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../framework/bootstrap-3.0.0/css/bootstrap.css" />
	</head>

	<body ng-controller="BindDataCtrl">
		<div class="content">
			
			
			<div>
				<input type="text"  ng-model="query" />
				
			</div>
			<div class="selecte">
		       <select name=""  ng-model="orderby">
		       	<option value="name">name</option>
		       	<option value="price">price</option>
		       </select>
			</div>
			<div ng-repeat="phone in phones|filter:query |orderBy:orderby">
				<p>{{phone.name}}</p>
				<p>{{phone.price}}</p>
			</div>
			<div id="tip"></div>
			<div ng-view></div>
			<div class="script">
				<script src="../framework/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
				<script src="../framework/angular-1.3.0.14/angular.min.js" type="text/javascript" charset="utf-8"></script>
				<script>
				console.log(2);
					function BindDataCtrl($scope) {
						$scope.phones = [{
							"name": "phone7",
							"price": "2000"
						}, {
							"name": "phone6",
							"price": "9000"
						}];
						 $scope.orderby = 'name';//
					}
				</script>
			</div>
		</div>
	
	</body>

</html>