<!DOCTYPE html>
<html ng-app>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../framework/bootstrap-3.0.0/css/bootstrap.css" />
	</head>
     
	<body ng-controller="HttpGetData">
	<div><<img src="../image/angularjs.jpg" alt="" /></div>
		<div class="content">
			<div ng-repeat="book in books |orderBy:orderby">
				<p>{{book.name}}</p>
				<p>{{book.author}}</p>
			    <img ng-src="{{book.imgUrl}}"/>
			    <p>{{book.imgUrl}}</p>
			    <a href={{book.imgUrl}}>tup11</a>
			</div>
			<select name="" ng-model="orderby">
             	<option value="name">name</option>
             	<option value="author">author</option>
             </select>
			<div class="script">
				<script src="../framework/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
				<script src="../framework/angular-1.3.0.14/angular.min.js" type="text/javascript" charset="utf-8"></script>
				<script src="../framework/angular-1.3.0.14/angular-route.js" type="text/javascript" charset="utf-8"></script>
				<script>
					function HttpGetData($scope, $http) {
						//var data={};
						$http.get('../data/books0.json').success(function(data) {
							$scope.books = data;
						});
					}
				</script>
			</div>
		</div>

	</body>

</html>
